.banner {
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    padding:100px 0;
}

.banner h1{
    font-family: "Press Start 2P";
    color: white;
    font-size: 34px;
}

.banner p{
    color:whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.banner a{
    background-color: #C84C0C;
    display: inline-block;
    padding: 16px 30px;
    border-radius: 8px;
    font-family: "Press Start 2P";
    color: white;
}

a, button {
    cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC) 14 0,pointer;
}
